.card-container {
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/483/252/desktop-wallpaper-dark-tech-black-technology.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
