@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.price-description {
  line-height: 25px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
button {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
