.img-one-container {
  background-image: url("https://wallpapershome.com/images/pages/pic_h/5284.jpg");
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.img-two-container {
  background-image: url("https://wallpaperaccess.com/full/4307746.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}
